@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ExportExcelToDownLoad</title>
</head>
<body>
    <div>
        <a href="~/admin/ImportExcelByComplain">上传投诉源数据</a>
        <a href="~/admin/ImportExcelByMonth">上传包月源数据</a>
        <a href="~/admin/ExportExcelToDownLoad">查询投诉分析</a>
    </div>
</body>
</html>
