@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ImportExcelByMonth</title>
</head>
<body>
    包月源数据导入
    @using (Html.BeginForm("ImportExcelByMonth", "Admin", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {

        @Html.DropDownList("cpNameList", ViewBag.CpNameList as IEnumerable<SelectListItem>);
        <input type="file" id="InputExcel" name="InputExcel" />
        <input type="submit" value="上传" />
    }
</body>
</html>
