@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>修改管理员密码</title>
    <link href="~/Scripts/ui/skins/Aqua/css/ligerui-all.css" rel="stylesheet" />
    <link href="~/Content/Admin/Admin.css" rel="stylesheet" />
    <script src="~/Scripts/jquery-1.3.2.min.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/messages_cn.js"></script>
    <script src="~/Scripts/ui/js/ligerBuild.min.js"></script>
    <script src="~/Scripts/Admin/function.js"></script>
    <script type="text/javascript">
        //表单验证
        $(function () {
            $("#form1").validate({
                errorPlacement: function (lable, element) {
                    element.ligerTip({ content: lable.html(), appendIdTo: lable });
                },
                success: function (lable) {
                    lable.ligerHideTip();
                }
            });
        });
    </script>
</head>
<body class="mainbody">
    <form id="form1">
        <div class="navigation">首页 &gt; 控制面板 &gt; 管理员管理</div>
        <div id="contentTab">
            <ul class="tab_nav">
                <li class="selected"><a onclick="tabs('#contentTab',0);" href="javascript:;">修改密码</a></li>
            </ul>
            <div class="tab_con" style="display:block;">
                <table class="form_table">
                    <col width="180px">
                    <col>
                    <tbody>
                        <tr>
                            <th>用户名：</th>
                            <td><input type="text" ID="txtUserName" class="txtInput normal required" maxlength="100" ReadOnly="true" /><label>*</label></td>
                        </tr>
                        <tr>
                            <th>旧登录密码：</th>
                            <td>
                                <input type="text" ID="txtOldPwd" class="txtInput normal required"
                                             maxlength="100" TextMode="Password"/><label>*</label>
                            </td>
                        </tr>
                        <tr>
                            <th>新登录密码：</th>
                            <td>
                                <input type="password" ID="txtUserPwd" class="txtInput normal required"
                                             maxlength="100" /><label>*</label>
                            </td>
                        </tr>
                        <tr>
                            <th>确认新密码：</th>
                            <td>
                                <input type="password" id="txtUserPwd1" class="txtInput normal required"
                                       maxlength="100" equalto="#txtUserPwd" /><label>*</label>
                            </td>
                        </tr>
                        <tr>
                            <th>姓名：</th>
                            <td><input type="text" ID="txtRealName" class="txtInput normal required" maxlength="30"/><label>*</label></td>
                        </tr>
                        <tr>
                            <th>电话：</th>
                            <td><input type="text" ID="txtTelephone" class="txtInput normal" maxlength="30"/></td>
                        </tr>
                        <tr>
                            <th>邮箱：</th>
                            <td><input type="text" ID="txtEmail" class="txtInput normal email"  maxlength="50"/></td>
                        </tr>
                        <tr>
                            <th></th>
                            <td><input type="button" ID="btnSubmit" value="提交保存" class="btnSubmit" /></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </form>
</body>
</html>
