CREATE TABLE [dbo].[Articles] (
    [ID]      INT            IDENTITY (1, 1) NOT NULL,
    [Title]   NVARCHAR (200) NULL,
    [Content] NVARCHAR (MAX) NULL,
    [PubDate] DATETIME       NOT NULL,
    [Author]  NVARCHAR (20)  NULL,
    [Source]  NVARCHAR (20)  NULL,
    CONSTRAINT [PK_dbo.Articles] PRIMARY KEY CLUSTERED ([ID] ASC)
);

SET IDENTITY_INSERT [dbo].[Articles] ON
INSERT INTO [dbo].[Articles] ([ID], [Title], [Content], [PubDate], [Author], [Source]) VALUES (1, N'测试文章标题', N'这是文章内容', N'2013-04-08 00:00:00', N'杨涛', N'吴起政府网')
INSERT INTO [dbo].[Articles] ([ID], [Title], [Content], [PubDate], [Author], [Source]) VALUES (3, N'陕西省延安市吴起县', N'第三篇文章内容', N'2013-06-01 00:00:00', N'Webdiyer', N'吴起热线')
SET IDENTITY_INSERT [dbo].[Articles] OFF
