@{
    Layout = "/Views/Shared/_Layout.cshtml";
}

<div id="side-bar">
    <div>
        <p class="sideBarTitle">Url路由分页</p>
        <ul>
            <li><a href="/NoDbDemo/Basic" title="Url路由分页">&rsaquo; Url路由分页</a></li>
            <li><a href="/NoDbDemo/QueryString" title="Url参数分页">&rsaquo; Url参数分页</a></li>
            <li><a href="/NoDbDemo/UrlParams/?year=2013&amp;author=杨涛&amp;city=%E5%BB%B6%E5%AE%89" title="保持Url参数">&rsaquo; 保持Url参数</a></li>
            <li><a href="/NoDbDemo/CustomRouting/" title="自定义路由">&rsaquo; 自定义路由</a></li>
            <li><a href="/NoDbDemo/Search/" title="搜索结果分页">&rsaquo; 搜索结果分页</a></li>
        </ul>
        <p class="sideBarTitle">Ajax分页</p>
        <ul>
            <li><a href="/NoDbDemo/AjaxPaging/" title="Ajax分页">&rsaquo; Ajax分页</a></li>
            <li><a href="/NoDbDemo/AjaxEvents/" title="Ajax事件">&rsaquo; Ajax事件</a></li>
            <li><a href="/NoDbDemo/AjaxInitData/#id=3" title="Ajax初始化数据">&rsaquo; Ajax初始化数据</a></li>
            <li><a href="/NoDbDemo/AjaxPartialLoading/" title="Ajax局部加载">&rsaquo; Ajax局部加载</a></li>
            <li><a href="/NoDbDemo/AjaxLoading/" title="Ajax大数据加载">&rsaquo; Ajax大数据加载</a></li>
            <li><a href="/NoDbDemo/MultipleAjaxPagers/" title="多个Ajax Pager">&rsaquo; 多个Ajax Pager</a></li>
            <li><a href="/NoDbDemo/AjaxSearchPost/" title="AjaxForm搜索（Post）">&rsaquo; AjaxForm搜索（Post）</a></li>
            <li><a href="/NoDbDemo/AjaxSearchGet/" title="AjaxForm搜索（Get）">&rsaquo; AjaxForm搜索（Get）</a></li>
            <li><a href="/NoDbDemo/AjaxSearchHtmlPost/" title="HtmlForm搜索（Post）">&rsaquo; HtmlForm搜索（Post）</a></li>
            <li><a href="/NoDbDemo/AjaxSearchHtmlGet/" title="HtmlForm搜索（Get）">&rsaquo; HtmlForm搜索（Get）</a></li>
            <li><a href="/NoDbDemo/AjaxDegradation/" title="Ajax优雅降级">&rsaquo; Ajax优雅降级</a></li>
        </ul>
        <p class="sideBarTitle">设置外观样式</p>
        <ul>
            <li><a href="/NoDbDemo/ApplyCSS/" title="应用CSS样式">&rsaquo; 应用CSS样式</a></li>
            <li><a href="/NoDbDemo/CustomInfo/" title="自定义信息">&rsaquo; 自定义信息</a></li>
            <li><a href="/NoDbDemo/PageIndexBox/" title="输入或选择页索引">&rsaquo; 输入或选择页索引</a></li>
        </ul>
        <p class="sideBarTitle">分页数据相关</p>
        <ul>
            <li><a href="/NoDbDemo/ContentPaging/" title="文章内容分页">&rsaquo; 文章内容分页</a></li>
            <li><a href="/NoDbDemo/IPagedList/" title="实现IPagedList接口">&rsaquo; 实现IPagedList接口</a></li>
            <li><a href="/NoDbDemo/Delete/" title="删除分页数据">&rsaquo; 删除分页数据</a></li>
        </ul>
        <p class="sideBarTitle">其它</p>
        <ul>
            <li><a href="/NoDbDemo/CombinedMode/" title="混合分页模式">&rsaquo; 混合分页模式</a></li>
            <li><a href="/NoDbDemo/MultipleMvcPagers/" title="多个MvcPager">&rsaquo; 多个MvcPager</a></li>
            <li><a href="/NoDbDemo/FirstPageUrl/" title="首页Url SEO">&rsaquo; 首页Url SEO</a></li>
            <li><a href="/NoDbDemo/PageSize/5" title="动态设置PageSize">&rsaquo; 动态设置PageSize</a></li>
            </ul>
    </div>
</div>

<div id="main">
    @RenderBody()
</div>
@section Scripts{
    @RenderSection("Scripts",false)
}