@model PagedList<int>
@{
    ViewBag.Title = "删除数据";
}

<h2>删除数据</h2>
<div class="description">本示例演示ToPagedList扩展方法的如下功能：<span class="emph">当前页索引超出总页数时改变当前页索引为最后一页的页索引，同时获取最后一页的数据。</span>
    <br/><strong>操作说明：</strong>请跳转到最后一页，选中最后一页上所有项的复选框，然后点击“删除选中项”按钮，此时最后一页的所有数据都会被删除，虽然url中的当前页索引未改变，但Model中PagedList对象的CurrentPageIndex已自动变为最后一页的页索引2，同时显示的数据也是最后一页的数据，不会出现空数据或页索引超出范围的错误。
</div>

@using (Html.BeginForm())
{
    <table width="90%"><tr><th>值</th><th>删除</th></tr>
        @foreach (var itm in Model)
        {
            <tr><td>@itm</td><td><input type="checkbox" name="val" value="@itm"/></td></tr>
        }
    </table>
    <div><span style="float:right"><input type="submit" value="重置测试(R)" name="resetList"/></span><input type="submit" value="删除选中项(D)" accesskey="D"/>
        &nbsp;&nbsp;当前页索引为：@Model.CurrentPageIndex</div>
}
@Html.Pager(Model,new PagerOptions{PageIndexParameterName = "id"})