@{
    ViewBag.Title = "Index";
}

<h2>MvcPager分页示例项目无数据库版</h2>
<div>本示例项目不使用数据库，而是将数据直接硬编码写在程序中以方便未安装数据库的用户运行和查看示例。</div>
<h2>运行环境最低需求：</h2>
<ul><li>Visual Studio 2010 SP1或Visual Studio 2012；</li>
    <li>.Net Framework 4.0；</li>
</ul>